<div *ngIf="isLoading" fxLayout fxLayoutAlign="center center" style="margin-top: 25%">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h4>Sign Up</h4>
            </mat-card-title>
            <mat-card-subtitle>Register for an account </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form fxFlex fxLayout="column wrap" fxLayoutAlign="center center" [formGroup]="signUpForm" (ngSubmit)="signUp()">

                <div *ngIf="errorMsg" class="invalid-logIn">
                    {{errorMsg}}
                </div>

                <mat-form-field>
                    <span matPrefix>
                        <mat-icon>account_circle</mat-icon> &nbsp;
                    </span>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                    <button mat-button type="button" *ngIf="signUpForm.controls['email'].value" matSuffix mat-icon-button aria-label="Clear" (click)="signUpForm.controls['email'].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>Invalid Email</mat-error>

                </mat-form-field>

                <mat-form-field>
                    <input #countC type="password" matInput placeholder="Password" [type]="hideP ? 'password' : 'text'" formControlName="password">
                    <span matPrefix>
                        <mat-icon>lock</mat-icon> &nbsp;
                    </span>
                    <button mat-icon-button type="button" matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
                        <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="start">At least 6 characters</mat-hint>
                    <mat-hint align="end">{{countC.value?.length || 0}}</mat-hint>
                    <mat-error>Invalid password, you need at least 6 characters</mat-error>
                </mat-form-field>

                <!-- <p *ngIf="error" class="error">
                {{ error }}
            </p> -->

                <div class="action-button" fxLayout="column" fxLayoutAlign="space-between center">
                    <button mat-flat-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign
                        up</button>
                </div>
                <div class="forget-data-container">
                    <mat-hint>You already have an <a [routerLink]="['/login']">ACCOUNT</a></mat-hint>

                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>